.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 20px; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    border-bottom: 1px solid #f2f2f2;
    background: rgb(24, 10, 115);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar h1 {
    margin: 0; 
    color: white; 
  }
  
  .navbar .links {
    display: flex; 
  }
  
  .navbar a {
    margin-left: 16px; 
    text-decoration: none;
    color: white; 
    padding: 6px;
  }
  
  .navbar a:hover {
    color: #f1356d; 
  }
  